.main-title {
    font-size: 1.25em;
    font-family: "Josefin Slab";
    background-color: rgb(212, 212, 212);
    color: #1b1b1b;
}

h1 {
    margin: 0;
    padding: 2%;
}

body {
    margin: 0;
}

.fixed-nav-bar {
  padding: 0;
}

nav ul li:first-child {
  float: left;
}

nav ul li {
  list-style:none;
  margin:10px;
  float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
    background-color: #e4e4e4;
}

h3 {
  margin: 0;
  padding: 1%;
}

nav {
  font-weight: 300;
  font-size: 1.1em;
}

a,
a:before,
a:after {
  text-decoration: none;
  color: #000;
}

html {
  -webkit-font-smoothing: subpixel-antialiasing;
  font-family: 'Source Sans Pro';
}
