.main-title {
    font-size: 1.25em;
    font-family: "Josefin Slab";
    background-color: rgb(212, 212, 212);
    color: #1b1b1b;
}

h1 {
    margin: 0;
    padding: 2%;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 1%;
}

nav {
  display: flex;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  background-color: #e6e6e6;
  padding: 1%;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: flex-end;
}

html {
  -webkit-font-smoothing: subpixel-antialiasing;
}
